<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="1838585756">
    <link th:href="@{/public/favicon.ico}" rel="shortcut icon" type="image/x-icon">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>PWeb JoabAnderson</title>
    
</head>
<body>
	<nav class="menu">
        <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/public/noticias.html">Notícias</a></li>        
            <li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
            <li><a href="/listarPessoa">Listar pessoas</a></li>
            <li><a href="/public/sobre.html">Sobre o site</a></li>
            <li><a href="/public/contato.html">Contato</a></li>
        </ul>
    </nav>
	
	<div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <div class="h">
        <h1 >Anime</h1>
        <h2 >Kimetsu no Yaiba</h2>
    </div>
    
    <p>
        <img    class="centro" 
                th:src="@{/img/tanjiroKamado.jpg}" 
                alt="Tanjiro" 
                title="Tanjiro Kamado"
                width="700">
    </p>
	
    <div class="h">
        <h3>O que é Kimetsu no Yaiba - Demon Slayer?</h3>
        <p>Kimetsu no Yaiba, conhecido como Demon Slayer no Ocidente, é um mangá escrito por
        <br>Koyoharu Gotouge. A obra foi adaptada em anime e conquistou o mundo pela direção
        <br>artistica realizada no estúdio Ufotable.</p>
    </div>
    </div>
</body>
</html>