<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSecreto="1838585756">
    <link th:href="@{/public/favicon.ico}" rel="shortcut icon" type="image/x-icon">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>PWeb JoabAnderson - Listar Pessoas</title>
    
</head>
<body>
  <nav class="menu">
    <ul>
        <li><a href="/">Início</a></li>
        <li><a href="/public/noticias.html">Notícias</a></li>        
        <li><a href="/adicionarPessoa">Adicionar pessoa</a></li>
        <li><a href="/listarPessoa">Listar pessoas</a></li>
        <li><a href="/public/sobre.html">Sobre o site</a></li>
        <li><a href="/public/contato.html">Contato</a></li>
    </ul>
</nav>
	
	<div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <h1 class="lh">Lista de pessoas cadastradas</h1>
    <table class="tbl">
      <thead>
        <tr>
          <th>Nome completo</th>
          <th>Data de nascimento&</th>
          <th>e-Mail</th>
          <th>Data de Nascimento</th>
          <th>Genero</th>
          <th>Editar</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="pessoa: ${pessoas}">
          <td th:text="${pessoa.id}"></td>
          <td th:text="${pessoa.nome}"></td>
          <td>
            <a th:href="'mailto:'+${pessoa.email}"th:text="${pessoa.email}"></a>
          </td>
            <td th:text="${#temporals.format(pessoa.dataNascimento,'dd/MM/yyyy')}"></td>
            <td th:text="${pessoa.genero}"></td>
            <td>
              <a th:href="@{/editar/{id}(id=${pessoa.id})}">Editar</a>
            </td>
            <td>
              <a th:href="@{/remover/{id}(id=${pessoa.id})}">Remover</a>
            </td>
          </tr>
      </tbody>
    </table>
	</div>
</body>
</html>
